main {
  background-image: url(/src/assets/images/home-bg.png);
  height: 91.6vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.home-wrapper {
  border: 2px solid yellow;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
h1 {
  font-size: 102px;
  color: white;
  text-align: center;
}
h4 {
  font-size: 32px;
  color: white;
}
.home-button {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 8px 32px;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s;
}
.home-button:hover {
  border-block-color: rgb(223, 3, 3);
}
