.menu-title {
  text-align: center;
  padding: 72px 0 42px 0;
  font-size: 62px;
  color: rgb(255, 255, 255);
}
.menu-second-title {
  text-align: center;
  color: white;
  font-size: 24px;
}
.wrapper-title {
  text-align: center;
  color: white;
  font-size: 32px;
  padding-top: 26px;
}
.menu-wrapper {
  margin: 12px 0;
  padding: 42px 56px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  place-content: center;
  gap: 42px;
}
.menu-items {
  height: 400px;
  width: 400px;
  background-color: rgb(226, 150, 150);
  border-radius: 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 11px;
}
.item-title {
  text-align: center;
  font-size: 24px;
  color: white;
}
.item-image {
  height: 60%;
  border-radius: 11px;
}
.item-price {
  font-size: 32px;
  color: white;
}
